<mat-card>
  <mat-card-header>
    <mat-card-title>Book Categories</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <!-- Search Box -->
    <div class="row">
      <div class="col-md-3">
        <input class="form-control m-2"[(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange()" placeholder="Search to search here..">
      </div>
      <div class="col-md-3">
        <button class="m-2" mat-button (click)="create()">Create new</button>
      </div>
    </div>

    <!-- Table for displaying book categories -->
    <div class="table-container">
      <table mat-table [dataSource]="bookCategories">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let category"> {{ category.id }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let category"> {{ category.name }} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let category"> {{ category.description }} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let category">
            <!-- Edit Button -->
            <button mat-icon-button (click)="edit(category.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <!-- Delete Button -->
            <button mat-icon-button (click)="delete(category.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Pagination Controls -->
      <div class="pagination-controls">
        <button mat-raised-button (click)="previousPage()" [disabled]="!hasPreviousPage">Previous</button>
        <span>Page {{ pageNumber }} of {{ totalPages }}</span>
        <button mat-raised-button (click)="nextPage()" [disabled]="!hasNextPage">Next</button>
      </div>

      <!-- Page Size Dropdown (positioned bottom-right) -->
      <div class="page-size-selector">
        <mat-select [(value)]="pageSize" (selectionChange)="onPageSizeChange($event.value)">
          <mat-option *ngFor="let size of pageSizes" [value]="size">
            {{ size }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </mat-card-content>
</mat-card>